*{
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    user-select: none;
}
:root{
    --dropping-duration: 1.2s;
}
#illustrationWomanMobile{
    width: 0;
    height: 0;
}
.attribution{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
}
.FAQ{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 40%;
    margin: 35px 10% 35px 0;
}
main{
    position: relative;
    display: flex;
    width: 60vw;
    margin: auto;
    background-color: white;
    height: 60vh;
    margin-top: 20vh;
    min-width: 750px;
    background-repeat: no-repeat;
    background-image: url(./images/illustration-woman-online-desktop.svg), url(./images/bg-pattern-desktop.svg);
    background-size: auto, contain;
    background-position: left -80px center;
    border-radius: 15px;
    padding: 20px;
    justify-content: flex-end;
}
body{
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%),hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    background-size: 400% 400%;
    background-repeat: no-repeat;
    animation-duration: 10s;
    animation-name: backgroundGradient;
    animation-iteration-count: infinite;
}
@keyframes backgroundGradient {
    0%{
        background-position: 50% 0%;
    }
    50%{
        background-position: 50% 100%;
    }
    100%{
        background-position: 50% 0%;
    }
}
html{
    height: 100%;
}
.question{
    text-align: left;
    width: 100%;
    border-bottom: solid 1px hsl(240, 5%, 91%);
}
p{
    font-size: 0px;
    display: inline-block;
    color: hsl(240, 6%, 50%);
    margin-top: 1em;
    margin-bottom: 1em;
}
h2{
    font-size: 15px;
    width:100%;
}
h1{
    font-size: 30px;
    font-weight: 700;
}
.arrow{
   float: right;
   position: relative;
   top:5px;
}
#illustrationBox{
    position: absolute;
    top:40%;
    left: -93px;
    z-index: 2;
    animation-duration: var(--dropping-duration);
    animation-name: boxDropping;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.question:hover{
    color:hsl(14, 88%, 65%);
    cursor:pointer;
}
@keyframes boxDropping {
    0%{
        top: -150%;
    }
    80%{
        top: 50%
    }
    100%{
        top:40%;
    }
    
}

@media  (max-width: 800px) {
    main{
        display: flex;
        flex-direction: column;
        width: 90vw;
        margin: auto;
        background-color: white;
        margin-bottom: 100px;
        height: auto;
        margin-top: 30vh;
        margin-bottom: 10%;
        min-width: 50px;
        background-repeat: no-repeat;
        background-image: url(./images/bg-pattern-mobile.svg);
        background-size: 70%;
        background-position: center top -20px;
        border-radius: 15px;
        padding: 20px;
        justify-content: flex-start;
        align-items: center;
    }

    .FAQ{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        margin: 20vh 0 0 0;
    }

    #illustrationWomanMobile{
        width: 70%;
        height:auto;
        position: absolute;
        top : -27vw;
        left: 12%;
        right: 20%;
        animation-name: mobileDropping;
        animation-duration: var(--dropping-duration);
        animation-fill-mode: forwards;
    }
    @keyframes mobileDropping {
        0%{
            top : -150vw;
        }
        80%{
            top: -10vw;
        }
        100%{
            top: -27vw;
        }
    }
    #illustrationBox{
        width: 0;
        height: 0;
    }
    h2{
    font-size: 13px;
    width:100%;

    }
    h1{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 1em;
    }
    .question{
        padding: 15px 10px 10px 10px;
    }
}